#!/bin/bash
CLOUDFLARE_API_TOKEN="$(op read "op://snczgcmd5otvtwcf76a5h3336i/Cloudflare DNS schlemmer-maul.com/password")"
export CLOUDFLARE_API_TOKEN

CLOUDFLARE_ZONE_ID="$(op read "op://snczgcmd5otvtwcf76a5h3336i/Cloudflare DNS schlemmer-maul.com/Zone ID")"
export CLOUDFLARE_ZONE_ID
